<!DOCTYPE html²>
<html lang="fr">

	<head>
		<meta charset="UTF-8">
		<meta name="description" content="LinkiOns - Grâce à notre plateforme de dépôt de CV les donneurs d'ordres pourront trouver votre profil ainsi que votre CV pour vous proposez des offres d'emploi correspondant à vos attraits, formations, expérienecs et compétences. Inscrivez-vous dès maintenant!">

		<title>
			{% block title %}linkiOns
			{% endblock %}
		</title>
		<link rel="icon" type="image/x-icon" href="{{ asset('assets/img/favicon.png') }} ">

		{% block stylesheets %}
			<link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css') }}" type="text/css">
			<link rel="stylesheet" href="{{ asset('assets/css/404.css') }}" type="text/css">
			<link rel="stylesheet" href="{{ asset('assets/css/style.css') }}" type="text/css">
			<link rel="stylesheet" href="{{ asset('assets/css/consentement.css') }}" type="text/css">
			<link rel="stylesheet" href="{{ asset('assets/css/utilisateurs.css') }}" type="text/css">
			<link rel="stylesheet" href="{{ asset('assets/css/membre.css') }}" type="text/css">
			<link rel="stylesheet" href="{{ asset('assets/css/slider.css') }}" type="text/css">
			<link rel="stylesheet" href="{{ asset('assets/css/admin.css') }}" type="text/css">
			<link rel="stylesheet" href="{{ asset('assets/css/menu.css') }}" type="text/css">
			<link rel="stylesheet" href="{{ asset('assets/css/base.css') }}" type="text/css">
			<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Spline+Sans+Mono:wght@600&display=swap">
			<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
			<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
			<style></style>

		{% endblock %}
	</head>

	<header>{% include'layout/header.html.twig' %}
		{% for label, messages in app.flashes %}
			{% for message in messages %}
				<div class="text-center alert {{ label }}">
					{{ message }}
				</div>
			{% endfor %}
		{% endfor %}
	</header>

	<!-- Menu page content -->
	<main
		class="container">
		{# read and display all flash messages #}
		{% block body %}{% endblock %}
		{% include'coockies/consentement.html.twig' %}
	</main>
	<footer>

		{% include'layout/footer.html.twig' %}
	</footer>


	{% block javascript %}

		<script src="{{ asset('assets/js/bootstrap.min.js') }}"></script>
		<script src="{{ asset('assets/js/menu.js') }}"></script>
		<script src="{{ asset('assets/js/slider.js') }}"></script>
		<script src="{{ asset('assets/js/membre.js') }}"></script>
		<script src="{{ asset('assets/js/boutonCoulissant.js') }}"></script>
		<!-- Google tag (gtag.js) -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=G-Z0X22SJMP1"></script>
		{% if app.request.cookies.has('cookie_consent') and app.request.cookies.get('cookie_consent') == 'true' %}
			{# Inclure le script de suivi de Google Analytics ici #}
			<script src="{{ asset('assets/js/analytics.js') }}"></script>
		{% endblock %}
	</html>
</html></body></html></html>
