<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>{{ subject }}</title>
	</head>
	<body style="font-family: 'Spline Sans Mono', monospace;background-color: #001007;">
		<div style="text-align: start;margin: 50px 0 0 50px;">
			<img style="width: 100px;" src="{{ absolute_url(asset('assets/img/logoMobile.png')) }}" alt="Logo de linkions">
		</div>
		<div style="margin-left: 50px;">
			<h1 style="color: #FFB400;font-size: 24px;text-align: center;margin-top: 50px;margin-bottom: 150px;">LinkiOns</h1>
			<p style="color: #c0f4d7;font-size: 16px;text-align: left;">Bonjour, vous avez reçu un message de contact</p>
			{% if de is not empty %}
				<p style="color: #FFB400;font-size: 20px;">De :</p>

				<p style="color: #c0f4d7;font-size: 16px;text-align: left;margin-left:50px">{{ de }}</p>
				<br>
			{% endif %}

			{% if subject is not empty %}
				<p style="color: #FFB400;font-size: 20px;">Sujet :</p>
				<p style="color:#c0f4d7;font-size:16px;text-align:left;margin-left:50px">{{ subject }}</p>
				<br>
			{% endif %}

			{% if message is not empty %}
				<p style="color: #FFB400;font-size: 20px;">Message :</p>
				<p style="color:#c0f4d7;font-size:16px;text-align:left;margin-left:50px">{{ message }}</p>
			{% endif %}

		</div>

	</body>
</html>
