<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>{{ subject }}</title>
		<style>
			/* Styles personnalisés */
			body {
				font-family: 'Spline Sans Mono', monospace;
				background-color: #001007;
			}
			.logo {
				text-align: start;
				margin: 50px 0 0 50px;
			}
			.logo img {
				width: 100px;
			}
			h1 {
				color: #FFB400;
				font-size: 24px;
				text-align: center;
				margin-top: 50px;
				margin-bottom: 150px;
			}
			span {
				color: #FFB400;
				font-size: 26px;
			}
			p {
				font-family: Arial, sans-serif;
				color: #c0f4d7;
				font-size: 16px;
				text-align: left;
			}
		</style>
	</head>
	<body>
		<div class="logo">
			<img src="{{ absolute_url(asset('assets/img/logoMobile.png')) }}" alt="Logo de linkions">
		</div>

		{% if username is not empty %}
			<h1>LinkiOns</h1>
			<p>Vous avez un nouveau message de :</p>
			<p>
				<span>{{ username }}</span>
			</p>
		{% else %}
			<h1>LinkiOns</h1>
			<p>Vous avez un nouveau message</p>
		{% endif %}
		<br>
		<br>
		{% if subject is not empty %}
			<p>
				<span>Sujet :</span>
			</p>
			<p>{{ subject }}</p>
			<br>
		{% endif %}

		{% if message is not empty %}
			<p>
				<span>Message :</span>
			</p>
			<p>{{ message }}</p>
		{% endif %}

	</body>
</html>
